/**
 * Button styles for the Facebook Connect Buttons
 */
#edit-instance-widget-settings-facebook-field-button-type {margin-bottom: 25px;}
#edit-instance-widget-settings-facebook-field-button-type-sm + label {
  background: transparent url(../images/fb_connect_Sm.png) center center no-repeat;
  width: 105px;
  height: 27px;
}

#edit-instance-widget-settings-facebook-field-button-type-sm-long + label {
  background: transparent url(../images/fb_connect_Sm_long.png) center center no-repeat;
  width: 202px;
  height: 26px;
}

#edit-instance-widget-settings-facebook-field-button-type-med + label {
  background: transparent url(../images/fb_connect_Med.png) center center no-repeat;
  width: 129px;
  height: 39px;
}

#edit-instance-widget-settings-facebook-field-button-type-large + label {
  background: transparent url(../images/fb_connect_Large.png) center center no-repeat;
  width: 233px;
  height: 40px;
}

#edit-instance-widget-settings-facebook-field-button-type-xl + label {
  background: transparent url(../images/fb_connect_XL.png) center center no-repeat;
  width: 280px;
  height: 47px;
}

#edit-instance-widget-settings-facebook-field-button-type-xl-glow + label {
  background: transparent url(../images/fb_connect_XL_glow.png) top center no-repeat;
  width: 280px;
  height: 47px;
}
#edit-instance-widget-settings-facebook-field-button-type-xl-glow + label:hover {
  background-position: bottom center;
}
/**
 *  Admin form Settings
 */
.facebook_field_field_button_radio .form-type-radio {
  clear: both;
  margin-bottom: 3px;
}

.facebook_field_field_button_radio .form-radio,
.facebook_field_field_button_radio label.option {
  float: left;
  cursor: pointer;
  display: block;
  margin: 0 5px;
}

.facebook_field_field_button_radio label.option {
  text-indent: -9999px;
  display: block;
}

#edit-instance-widget-settings-facebook-field-button-type-sm {
  height: 27px;
}
#edit-instance-widget-settings-facebook-field-button-type-sm-long {
  height: 26px;
}
#edit-instance-widget-settings-facebook-field-button-type-med {
  height: 39px;
}
#edit-instance-widget-settings-facebook-field-button-type-large {
  height: 40px;
}
#edit-instance-widget-settings-facebook-field-button-type-xl,
#edit-instance-widget-settings-facebook-field-button-type-xl-glow {
  height: 47px;
}
.form-item-field-settings-facebook-field-keyword {clear: both;}
